.activity-form {

  .icon-preview {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 0;
    font-size: 2em;
  }

  .color-preview {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 10px;
  }

  span.friend-tag {
    background-color: #11c1f3;
    padding: 5px 30px 5px 10px;
    display: block;
    margin: 5px 5px 0 0;
    color: white;
    float: left;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      background-color: transparent;
      color: white;
      padding: 3px 10px;
    }
  }
}