<ion-view title="Inkwell">
  <ion-nav-buttons>
    <!-- Open side menu. -->
    <button class="button button-icon" menu-toggle>
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>

<ion-header-bar class="calendar-nav-container bar-subheader">
  <div class="row calendar-nav">
    <div class="col">
      <div class="weekday">WED</div>
      <div class="day">20</div>
    </div>
    <div class="col">
      <div class="weekday">THU</div>
      <div class="day">21</div>
    </div>
    <div class="col active">
      <div class="weekday">FRI</div>
      <div class="day">22</div>
    </div>
    <div class="col">
      <div class="weekday">SAT</div>
      <div class="day">23</div>
    </div>
    <div class="col">
      <div class="weekday">SUN</div>
      <div class="day">24</div>
    </div>
  </div>
</ion-header-bar>

  <ion-content class="calendar-content has-header has-subheader has-footer">
            <div class="card card-blue"
                 ng-repeat="fact in facts">
              <div class="item">
                <h2>{{ fact.title }}</h2>
                <i class="card-icon icon ion-beer"></i>
                <p>Nine Inch Nails</p>
              </div>
            </div>
            
  </ion-content>

  <ion-footer-bar>
    <div class="button-bar bar-footer">
      <a class="button button-icon"><i class="icon ion-compose"></i></a>
      <a class="button button-icon"><i class="icon ion-images"></i></a>
      <a class="button button-icon"><i class="icon ion-location"></i></a>
      <a class="button button-icon"><i class="icon ion-speedometer"></i></a>
      <a class="button button-icon"><i class="icon ion-more"></i></a>
    </div>
  </ion-footer-bar>
</ion-view>