@mixin fact-card($color) {
	border-top: 4px solid $color;

	h2 {
		color: $color;
		letter-spacing: 1px;
	}	
}

div.card.inkwell-cyan {
	@include fact-card($inkwell-cyan);
}

div.card.inkwell-green {
	@include fact-card($inkwell-green);
}

div.card.inkwell-purple {
	@include fact-card($inkwell-purple);
}

div.card.inkwell-red {
	@include fact-card($inkwell-red);
}

div.card.inkwell-orange {
	@include fact-card($inkwell-orange);
}

div.card.inkwell-pink {
	@include fact-card($inkwell-pink);
}

div.card.inkwell-yellow {
	@include fact-card($inkwell-yellow);
}

div.card.inkwell-gray {
	@include fact-card($inkwell-gray);
}

div.card.inkwell-blue {
	@include fact-card($inkwell-blue);
}

i.card-icon {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #aaa;
}

div.card {
	text-align: left;
}

div.card .counter {
	.col {
		text-align: center;
	}
	.value {
		padding-top: 20px;
		font-size: 2em;
	}
}

.card-scroll {
	height: 100%;
}

div.scroll .card:last-child {
	margin-bottom: 300px;
}