<ion-view title="Activities" class="calendar">
  <ion-nav-buttons>
    <!-- Open side menu. -->
    <button class="button button-icon" menu-toggle>
      <i class="icon ion-navicon"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
<!--     <button class="button button-icon button-primary"
            ng-click="switchView()">
      <i class="icon ion-calendar"></i>
    </button> -->
    <button class="button button-icon button-primary"
            ng-click="showActivityForm()">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <tab-slide-box tab="14">
     <div class="tsb-icons">
       <div class="tsb-ic-wrp">
        <ion-scroll direction="x" class="tsb-hscroll" delegate-handle="slide1Scroll">
          <a href="javascript:;"
             ng-repeat="tab in tabs" 
             on-finish-render="test()">{{ tab.text }}
            <span class="subtext">{{ tab.subtext }}</span>
          </a>
        </ion-scroll>
      </div>
    </div>
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
    <ion-slide ng-repeat="tab in tabs" >
      <ion-scroll class="card-scroll"
                  delegate-handle="slide1Scroll" >
        <div class="card"
         ng-repeat="fact in tab.facts"
         ng-class="fact.color.css"
         on-hold="showContextMenu(fact)">
          <div class="item">
            <h2>{{ fact.title }}</h2>
            <i class="card-icon"
               ng-class="fact.icon.css"></i>
            <p ng-if="fact.description">
              <pre>{{ fact.description }}</pre>
            </p>
            <p ng-if="fact.friends">
              with 
              <span ng-repeat="friend in fact.friends">
                {{ friend.title }}{{ $last ? '' : ', ' }}
              </span>
            </p>
            <p ng-if="fact.location">
              at {{ fact.location }}
            </p>
          </div>
          <div class="item counter" ng-repeat="counter in fact.counters">
            <div class="row">
              <div class="col-67">
                {{ counter.title }}
              </div>
              <div class="col value">
                <button class="button button-stable button-small"
                        ng-click="changeCounterValue(counter, -1)">
                    <i class="icon ion-minus"></i>
                </button>
                {{ counter.value }}
                <button class="button button-stable button-small"
                        ng-click="changeCounterValue(counter, 1)">
                    <i class="icon ion-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      <div ng-if="!tab.facts.length" class="no-items">
        No items yet.
      </div>
    </ion-slide>
  </ion-slide-box>
</tab-slide-box>
</ion-content>
</ion-view>