.counter-form {

  .icon-preview {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 0;
    font-size: 2em;
  }

  .color-preview {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 10px;
  }

}