<div> 
  <!-- Does not work with ion-modal-view here... investigate -->

  <ion-header-bar class="bar bar-header bar-positive">
    <div class="title">Counter</div>
  </ion-header-bar>

  <ion-content class="has-header has-footer">
    <form>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" name="title" placeholder="Title" ng-model="counter.title" />
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Current Value</span>
          <input type="number" name="location" placeholder="Current Value" ng-model="counter.value" />
        </label>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar class="bar-stable">
    <div class="button-bar bar-footer">
      <a class="button button-raised button-icon" ng-click="cancel()">Cancel</a>
      <a class="button button-icon" 
         ng-click="save({counter: counter}); modal.hide()">Save</a>
    </div>
  </ion-footer-bar>
</div>