<div class="images-form"> 
  <!-- Does not work with ion-modal-view here... investigate -->

  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary"
            ng-click="cancel()"><i class="icon ion-chevron-left"></i>
    </button>
    <h1 class="title">Images</h1>
    <button class="button button-clear button-secondary"
            ng-click="save({images: images}); modal.hide()"><i class="icon ion-checkmark"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <form>
      
    </form>
  </ion-content>
</div>