.select-color-modal {
  top: 30%;
  height: 300px;
  min-height: 0;
  left: 12%;
  right: 12%;
  width: auto;

  h1 {
    font-size: 1.2em;
    padding: 10px 0 0 0;
    text-align: center;
  }

  button.color-select {
    width: 33%;
    height: 70px;
    display: inline-block;
    border: 0;
    padding: 3px;
    background-color: transparent;

    div {
      height: 100%;
    }
  }

  div.no-color {
    text-align: center;
    padding: 8px;
  }
}