// Color scheme for Inkwell.
$inkwell-cyan: #2196f3;
$inkwell-green: #4caf50;
$inkwell-purple: #ba68c8;
$inkwell-red: #f44336;
$inkwell-orange: #ff9800;
$inkwell-yellow: #ffc107;
$inkwell-gray: #9e9e9e;
$inkwell-blue: #3f51b5;
$inkwell-pink: #e91e63;