// Color scheme for Inkwell.
$inkwell-cyan: #2CA8C2;
$inkwell-green: #98CB4A;
$inkwell-purple: #913CCD;
$inkwell-red: #F14F74;
$inkwell-orange: #F76D3C;
$inkwell-yellow: #F7D842;
$inkwell-gray: #839098;
$inkwell-blue: #5481E6;
$inkwell-pink: #FDA7F9;