
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic.
@import "www/lib/ionic/scss/ionic";

// Include app-specific SCSS.
@import 'variables';
@import 'www/components/calendar/calendar';
@import 'www/components/calendar/activity-form';
@import 'www/components/calendar/counter-form';
@import 'www/components/calendar/select-icon';
@import 'www/components/calendar/select-color';


@media (min-width: 0px) {
  .modal-backdrop-bg {
    opacity: 0.5 !important;
    background-color: #000;
  }
}

.inkwell-cyan {
  background-color: $inkwell-cyan !important;
}

.inkwell-green {
  background-color: $inkwell-green !important;
}

.inkwell-purple {
  background-color: $inkwell-purple !important;
}

.inkwell-red {
  background-color: $inkwell-red !important;
}

.inkwell-orange {
  background-color: $inkwell-orange !important;
}

.inkwell-pink {
  background-color: $inkwell-pink !important;
}

.inkwell-yellow {
  background-color: $inkwell-yellow !important;
}

.inkwell-gray {
  background-color: $inkwell-gray !important;
}

.inkwell-blue {
  background-color: $inkwell-blue !important;
}

.scroll {
  height:100%;
}

.tabbed-slidebox .tsb-icons:after {
  display:none;
}

.bar.bar-positive {
  border-color: $positive;
}